.checkout {
  height: 430px;
  /**background: #2f2c33;**/
  color: black;
  width: 50%;
  /**height: 430px;**/
}

.checkout-container {
  padding: 35px 25px;
}

.input-field {
  border: 1px solid #78757c;
  border-radius: 5px;
  position: relative;
}

.input {
  padding: 5px 0;
}

.input label {
  font-size: 8px;
  font-weight: 700;
  text-transform: uppercase;
  color: #78757c;
}

.input input {
  width: 100%;
  padding: 5px 10px;
  color: black;
  letter-spacing: 0px;
  font-size: 14px;
  background: 0;
  border: 0;
}

.input input:focus {
  outline: 0;
}

.input-field img {
  width: 25px;
  height: auto;
  position: absolute;
  right: 0;
  top: 5px;
  margin-right: 5px;
}

/* Removes form Controls  */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=month]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=month]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
}

.checkout-btn {
  background: #000;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 5px;
  width: 50%;
  height: 40px;
  margin-top: 50px;
  color: white;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}
