:root {
  --highlight: #b5dcbd;
  --highlight-faded: #b6e5bf;
  --special: #FDEB83;

  --background: #EFF2F6;
  --component: #e8e9eb;
  --feature: #ccc;
  --selected: #aeaeae;
  --border: #666;

  --text-contrast: #f5f5f7;
  --text-dull: #666;
  --text-medium: #333;
  --text-strong: #344854;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Optimistic Display", "Segoe UI";
  font-weight: 100;
  color: var(--text-strong);
}

html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background: var(--background);
}

body {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* //////////////////////////////////////////////////////////////// */

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  width: 100vw;
  background-color: var(--highlight);
  border-bottom: 1px solid var(--background);

  .headerLinks {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
  }
  .headerAccount {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
  
    .headerBasket {
      display: flex;
      gap: 1em;
    }
  }

  .headerLink {
    position: relative;
    width: fit-content;
    cursor: pointer;
    &:hover:before {
      visibility: visible;
      width: 100%;
    }
    &:before {
      content: "";
      position: absolute;
      height: 2px;
      width: 0;
      left: 0;
      bottom: 0;
      visibility: hidden;
      transition: all 0.25s ease-in-out;
      background-color: var(--text-strong);
    }
  }
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 60px);
  font-size: 24px;

  h1 {
    position: absolute;
    width: 430px;
    top: 3em;
    left: calc(50% - 215px);
    text-align: center;
    font-weight: 500;
  }
  span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 2.5em;
    transform: translateY(2em);

    div {
      display: flex;
      flex-direction: column;
      gap: 1.5em;

      &:nth-child(2) {
        margin: 0 0 2em 0;
        height: fit-content;
        button {
          background: var(--special);
          box-shadow: inset 0 0 0 3px var(--special);
          &:hover {
            background: transparent;
          }
        }
      }

      button {
        height: 3em;
        border: none;
        box-shadow: inset 0 0 0 3px var(--highlight-faded);
        background: var(--highlight-faded);
        transition: 300ms;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;

        &:hover {
          background: transparent;
        }
      }
    }
    
    img, button {
      border-radius: 0.5em;
    }

  }
}