:root {
  --highlight: #b5dcbd;
  --highlight-faded: #b6e5bf;
  --special: #fdeb83;

  --background: #eff2f6;
  --component: #e8e9eb;
  --feature: #ccc;
  --selected: #aeaeae;
  --border: #666;

  --text-contrast: #f5f5f7;
  --text-dull: #666;
  --text-medium: #333;
  --text-strong: #344854;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Optimistic Display", "Segoe UI";
  box-sizing: border-box;
  outline: none;
  font-weight: 100;
  color: var(--text-strong);
}

html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background: var(--background);
}

body {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* //////////////////////////////////////////////////////////////// */

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  width: 100vw;
  background-color: var(--highlight);
  border-bottom: 1px solid var(--background);

  .headerLinks {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
  }
  .headerAccount {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
  }
  .headerBasket {
    display: flex;
    gap: 1em;
  }
  .headerLink {
    position: relative;
    width: fit-content;
    text-decoration: none;
    cursor: pointer;
    &:hover:before {
      visibility: visible;
      width: 100%;
    }
    &:before {
      content: "";
      position: absolute;
      height: 2px;
      width: 0;
      left: 0;
      bottom: 0;
      visibility: hidden;
      transition: all 0.25s ease-in-out;
      background-color: var(--text-strong);
    }
  }
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 60px);
  font-size: 24px;

  h1 {
    position: absolute;
    width: 430px;
    top: 3em;
    left: calc(50% - 215px);
    text-align: center;
    font-weight: 500;
  }
  span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 2.5em;
    transform: translateY(2em);

    div {
      display: flex;
      flex-direction: column;
      gap: 1.5em;

      &:nth-child(2) {
        margin: 0 0 2em 0;
        height: fit-content;
        button {
          background: var(--special);
          box-shadow: inset 0 0 0 3px var(--special);
          &:hover {
            background: transparent;
          }
        }
      }

      button {
        height: 3em;
        border: none;
        box-shadow: inset 0 0 0 3px var(--highlight-faded);
        background: var(--highlight-faded);
        transition: 300ms;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;

        &:hover {
          background: transparent;
        }
      }
    }

    img,
    button {
      border-radius: 0.5em;
    }
  }
}

.filters {
  padding-top: 2%;
  padding-left: 10%;
  padding-bottom: 2%;

  div {
    display: flex;
  }

  .filtersHeader {
    font-weight: bold;
    padding-bottom: 10px;
  }

  .filterTile {
    padding-bottom: 10px;
  }

  .clearFilters {
    color: #ccc;
    padding-left: 1%;
    padding-top: 8px;
    &:hover {
      color: #aeaeae;
      cursor: pointer;
    }
  }

  input {
    margin: 0.3rem;
  }
}

.blurb {
  background-color: var(--highlight);
  padding-top: 2%;
  padding-left: 10%;
  padding-bottom: 2%;
  color: var(--text-strong);
  p {
    padding-top: 1%;
    font-size: 1vw;
    max-width: 30%;
  }
}

.productList {
  display: flex;
  flex-direction: row;
  gap: 3em;
}

.productGrid {
  display: grid;
  // grid-template-columns: auto auto auto;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-auto-rows: auto 1fr;
  grid-gap: 2em;
  flex: 1;
  height: fit-content;
  margin: 5em 3em 5em 1em;

  .productItem {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 0.5em;
    flex: 1;
    min-height: 150px;
    .productImage {
      width: 100%;
      height: fit-content;
      min-height: 240px;
      background: var(--selected);
      border-radius: 8px 8px 0 0;
    }
    .productDetails {
      display: grid;
      grid-template-columns: 60% auto;
      .productTitle {
        font-weight: bold;
      }
      .purchaseQuantity {
        display: flex;
        flex-direction: row;
      }
    }
  }
}

.checkout {
  height: auto;
  /**background: #2f2c33;**/
  color: var(--text-strong);
  width: 100%;
  display: flex;
  justify-content: center;

  .checkout-container {
    width: 500px;
    margin-top: 10px;
  }
  .checkout-label {
      color: var(--text-strong);
  }

  .checkout-input {
    padding: 5px 0;
    label {
      font-size: 8px;
      font-weight: 700;
      text-transform: uppercase;
      color: #78757c;
    }
    input {
      width: 100%;
      padding: 5px 10px;
      color: var(--text-strong);
      letter-spacing: 0px;
      font-size: 14px;
      background: 0;
      border: 0;
      &:focus {
        outline: 0;
      }
    }

    .input-field {
      border: 1px solid #78757c;
      border-radius: 5px;
      position: relative;

      img {
        width: 25px;
        height: auto;
        position: absolute;
        right: 0;
        top: 5px;
        margin-right: 5px;
      }
    }
  }
}

.back-btn {
  background: var(--component);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 5px;
  width: 10%;
  height: 40px;
  margin-top: 50px;
  color: var(--text-strong);
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
  &:hover {
    background: var(--selected);
  }
}
.checkout-btn {
  background: #000;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 5px;
  width: 40%;
  height: 40px;
  margin-top: 50px;
  color: var(--text-contrast);
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
  &:hover {
    color: var(--text-dull);
  }
}

.login-page {
  height: calc(100vh - 30px);
  display: grid;
  place-content: center;

  .login-modal {
    background-color: var(--background);
    border: 1px solid #e1e4eb;
    border-radius: 5px;
    padding: 1.5em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
  }

  .login-button {
    width: 90%;
    min-width: 270px;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    border: 1px solid #e1e4eb;
    border-radius: 5px;
    margin-top: 1em;
  }

  /* Body styles */
  .centered-text {
    text-align: center;
  }
}

/* //////////////////////////////////////////////////////////////// */

/* Removes form Controls  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="month"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input[type="month"]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}
