:root {
  --highlight: #b5dcbd;
  --highlight-faded: #b6e5bf;
  --special: #fdeb83;
  --background: #eff2f6;
  --component: #e8e9eb;
  --feature: #ccc;
  --selected: #aeaeae;
  --border: #666;
  --text-contrast: #f5f5f7;
  --text-dull: #666;
  --text-medium: #333;
  --text-strong: #344854;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Optimistic Display", "Segoe UI";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-weight: 100;
  color: var(--text-strong);
}

html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background: var(--background);
}

body {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.blurb {
  background-color: #b5dcbd;
  padding-top: 2%;
  padding-left: 10%;
  padding-bottom: 2%;
  color: #344854;
}

.blurb p {
  padding-top: 1%;
  font-size: 1vw;
  max-width: 30%;
}

.filters {
  padding-top: 2%;
  padding-left: 10%;
  padding-bottom: 2%;
}

.filtersHeader {
  font-weight: bold;
  padding-bottom: 10px;
}

.clearFilters {
  color: #ccc;
  padding-left: 1%;
  padding-top: 8px;
}

.clearFilters:hover {
  color: #aeaeae;
  cursor: pointer;
}

.filters div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filterTile {
  padding-bottom: 10px;
}

input {
  margin: 0.3rem;
}

/* //////////////////////////////////////////////////////////////// */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 100vw;
  background-color: var(--highlight);
  border-bottom: 1px solid var(--background);
}

.header .headerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 2em;
}

.header .headerAccount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 2em;
}

.header .headerAccount .headerBasket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.header .headerLink {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
}

.header .headerLink:hover:before {
  visibility: visible;
  width: 100%;
}

.header .headerLink:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0;
  visibility: hidden;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background-color: var(--text-strong);
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 60px);
  font-size: 24px;
}

.home h1 {
  position: absolute;
  width: 430px;
  top: 3em;
  left: calc(50% - 215px);
  text-align: center;
  font-weight: 500;
}

.home span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 2.5em;
  -webkit-transform: translateY(2em);
          transform: translateY(2em);
}

.home span div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
}

.home span div:nth-child(2) {
  margin: 0 0 2em 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.home span div:nth-child(2) button {
  background: var(--special);
  -webkit-box-shadow: inset 0 0 0 3px var(--special);
          box-shadow: inset 0 0 0 3px var(--special);
}

.home span div:nth-child(2) button:hover {
  background: transparent;
}

.home span div button {
  height: 3em;
  border: none;
  -webkit-box-shadow: inset 0 0 0 3px var(--highlight-faded);
          box-shadow: inset 0 0 0 3px var(--highlight-faded);
  background: var(--highlight-faded);
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

.home span div button:hover {
  background: transparent;
}

.home span img,
.home span button {
  border-radius: 0.5em;
}
/*# sourceMappingURL=index.css.map */