:root {
  --highlight: #b5dcbd;

  --background: #fafafa;
  --component: #e8e9eb;
  --feature: #ccc;
  --selected: #aeaeae;
  --border: #666;

  --text-contrast: #f5f5f7;
  --text-dull: #666;
  --text-medium: #333;
  --text-strong: #344854;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Optimistic Display", "Segoe UI";
  font-weight: 100;
  color: var(--text-strong);
}

html {
  height: 100%;
  max-width: 100%;
  overflow-y: hidden;
  background: var(--background);
}

body {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* //////////////////////////////////////////////////////////////// */

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  width: 100vw;
  background-color: var(--highlight);

  .headerLinks {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
  }
  .headerLink {
    position: relative;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
    &:hover:before {
      visibility: visible;
      width: 100%;
    }
    &:before {
      content: "";
      position: absolute;
      height: 2px;
      width: 0;
      left: 0;
      bottom: 0;
      visibility: hidden;
      transition: all 0.25s ease-in-out;
      background-color: var(--text-strong);
    }
  }
  .headerAccount {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;

    .headerBasket {
      display: flex;
      gap: 1em;
    }
  }
}

// .home {

// }
