:root {
  --highlight: #b5dcbd;
  --highlight-faded: #b6e5bf;
  --special: #fdeb83;
  --background: #eff2f6;
  --component: #e8e9eb;
  --feature: #ccc;
  --selected: #aeaeae;
  --border: #666;
  --text-contrast: #f5f5f7;
  --text-dull: #666;
  --text-medium: #333;
  --text-strong: #344854;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Optimistic Display", "Segoe UI";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-weight: 100;
  color: var(--text-strong);
}

html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background: var(--background);
}

body {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* //////////////////////////////////////////////////////////////// */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 100vw;
  background-color: var(--highlight);
  border-bottom: 1px solid var(--background);
}

.header .headerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 2em;
}

.header .headerAccount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 2em;
}

.header .headerBasket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.header .headerLink {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
}

.header .headerLink:hover:before {
  visibility: visible;
  width: 100%;
}

.header .headerLink:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0;
  visibility: hidden;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background-color: var(--text-strong);
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 60px);
  font-size: 24px;
}

.home h1 {
  position: absolute;
  width: 430px;
  top: 3em;
  left: calc(50% - 215px);
  text-align: center;
  font-weight: 500;
}

.home span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 2.5em;
  -webkit-transform: translateY(2em);
          transform: translateY(2em);
}

.home span div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
}

.home span div:nth-child(2) {
  margin: 0 0 2em 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.home span div:nth-child(2) button {
  background: var(--special);
  -webkit-box-shadow: inset 0 0 0 3px var(--special);
          box-shadow: inset 0 0 0 3px var(--special);
}

.home span div:nth-child(2) button:hover {
  background: transparent;
}

.home span div button {
  height: 3em;
  border: none;
  -webkit-box-shadow: inset 0 0 0 3px var(--highlight-faded);
          box-shadow: inset 0 0 0 3px var(--highlight-faded);
  background: var(--highlight-faded);
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

.home span div button:hover {
  background: transparent;
}

.home span img,
.home span button {
  border-radius: 0.5em;
}

.blurb {
  background-color: var(--highlight);
  padding-top: 2%;
  padding-left: 10%;
  padding-bottom: 2%;
  color: var(--text-strong);
}

.blurb p {
  padding-top: 1%;
  font-size: 1vw;
  max-width: 30%;
}

.productList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3em;
}

.productList .filters {
  padding-top: 2%;
  padding-left: 10%;
  padding-bottom: 2%;
}

.productList .filters div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productList .filters .filtersHeader {
  font-weight: bold;
  padding-bottom: 10px;
}

.productList .filters .filterTile {
  padding-bottom: 10px;
}

.productList .filters .clearFilters {
  color: #ccc;
  padding-left: 1%;
  padding-top: 8px;
}

.productList .filters .clearFilters:hover {
  color: #aeaeae;
  cursor: pointer;
}

.productList .filters input {
  margin: 0.3rem;
}

.productList .productGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-auto-rows: auto 1fr;
  grid-gap: 2em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 5em 3em 5em 1em;
}

.productList .productGrid .productItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 8px;
  gap: 0.5em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 150px;
  cursor: pointer;
}

.productList .productGrid .productItem:hover {
  background: var(--component);
}

.productList .productGrid .productImage {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 240px;
  width: 100%;
  border-radius: 8px 8px 0 0;
  background: var(--feature);
}

.productList .productGrid .productImage small {
  position: absolute;
  top: 1em;
  right: 1em;
}

.productList .productGrid .productDetails {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% auto;
      grid-template-columns: 70% auto;
  padding: 0 0.5em 1em 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productList .productGrid .productDetails .productTitle {
  font-weight: bold;
}

.productList .productGrid .productDetails .purchaseQuantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.productList .productGrid .productDetails .purchaseQuantity .changeQuantityBtn {
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
}

.productList .productGrid .productDetails .purchaseQuantity .changeQuantityBtn:hover {
  background: var(--feature);
}

.checkout {
  height: auto;
  /**background: #2f2c33;**/
  color: var(--text-strong);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkout .checkout-container {
  width: 500px;
  margin-top: 10px;
}

.checkout .checkout-label {
  color: var(--text-strong);
}

.checkout .checkout-input {
  padding: 5px 0;
}

.checkout .checkout-input label {
  font-size: 8px;
  font-weight: 700;
  text-transform: uppercase;
  color: #78757c;
}

.checkout .checkout-input input {
  width: 100%;
  padding: 5px 10px;
  color: var(--text-strong);
  letter-spacing: 0px;
  font-size: 14px;
  background: 0;
  border: 0;
}

.checkout .checkout-input input:focus {
  outline: 0;
}

.checkout .checkout-input .input-field {
  border: 1px solid #78757c;
  border-radius: 5px;
  position: relative;
}

.checkout .checkout-input .input-field img {
  width: 25px;
  height: auto;
  position: absolute;
  right: 0;
  top: 5px;
  margin-right: 5px;
}

.back-btn {
  background: var(--component);
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 5px;
  width: 10%;
  height: 40px;
  margin-top: 50px;
  color: var(--text-strong);
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.back-btn:hover {
  background: var(--selected);
}

.checkout-btn {
  background: #000;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 5px;
  width: 40%;
  height: 40px;
  margin-top: 50px;
  color: var(--text-contrast);
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.checkout-btn:hover {
  color: var(--text-dull);
}

.login-page {
  height: calc(100vh - 30px);
  display: -ms-grid;
  display: grid;
  place-content: center;
  /* Body styles */
}

.login-page .login-modal {
  background-color: var(--background);
  border: 1px solid #e1e4eb;
  border-radius: 5px;
  padding: 1.5em;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-page .login-button {
  width: 90%;
  min-width: 270px;
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--background);
  border: 1px solid #e1e4eb;
  border-radius: 5px;
  margin-top: 1em;
}

.login-page .centered-text {
  text-align: center;
}

/* //////////////////////////////////////////////////////////////// */
/* Removes form Controls  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="month"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input[type="month"]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}
/*# sourceMappingURL=index.css.map */