.login-page {
    height: calc(100vh - 30px);
    display: grid;
    place-content: center;
}

.login-modal {
    background-color: white;
    border: 1px solid #e1e4eb;
    border-radius: 5px;
    padding: 1.5em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.login-button {
    width: 90%;
    min-width: 270px;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #e1e4eb;
    border-radius: 5px;
    margin-top: 1em;
}

/* Body styles */
.centered-text {
    text-align: center;
}