.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  width: 100vw;
  background-color: var(--highlight);
}
.links {
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
}
.account {
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
}

.headerLink {
  position: relative;
  width: fit-content;
  cursor: pointer;
  &:hover:before {
    visibility: visible;
    width: 100%;
  }
  &:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    visibility: hidden;
    transition: all 0.25s ease-in-out;
    background-color: var(--text-strong);
  }
}